.btn-btn {
  all: unset;
  /* border: 2px solid black; */
  display: flex;
  border-radius: 5px;
  background-color: red;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 5px;
}
.btns-hero {
  /* border: 2px solid black; */
  display: flex;
  gap: 20px;
}
