.hero {
  background-image: url(https://wallpapercave.com/wp/wp5483854.jpg);
  background-repeat: no-repeat;
  height: 51vh;

  /* border: solid 2px rgb(223, 18, 18); */
}

.hero h1 {
  color: white;
  font-size: 50px;
  margin-bottom: 0.5rem;

  font-weight: 500;
  line-height: 1.2;
}
.hero h4 {
  color: white;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.hero-containt {
  /* border: 2px solid red; */

  margin: 148px;
  margin-left: 399px;

  width: fit-content;
}
.btns-hero {
  /* border: 2px solid black; */
  display: flex;
  gap: 20px;
 
}
