.card-cadre {
  /* border:  2px solid orange; */
  margin: 15px;
}
.card-containr {
  border: 1px solid rgb(238, 238, 238);
  background-color: hsl(210, 50%, 98%);
  width: 251px;
  height: 350px;
}
.List {
  /* border: 2px black solid; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1200px;
  margin-left: 360px;
  padding: 5px;
}
.card-containr img {
  /* filter: brightness(0.5); */

  object-fit: cover;
  cursor: pointer;

  vertical-align: middle;
}

.card-containr h6 {
  font-weight: 600;
  color: #8f8f8f;
  cursor: pointer;
  margin-top: 8px;
  margin-left: 15px;
  font-size: larger;
  letter-spacing: 0.2px;
}
h6:hover {
  color: red;
}
.card-containr p {
  color: #303030;
  font-weight: 700;
  cursor: pointer;
  margin-top: -40px;
  margin-left: 15px;
}
.icon-card {
  /* margin-left: 15px; */
  /* border: 2px solid red; */
  position: absolute;
  /* bottom: 350px; */
  font-size: 10px;
  margin-left: 150px;
  margin-top: -65px;
}
