.intro {
    /* border: 2px red solid; */
    height: 145vh;
}
.intro-containr {
    /* border: 2px rgb(195, 255, 0) solid; */
    display: flex;
    justify-content: space-around;
    gap:95px;
    margin: 25px;
    align-items: center;
    
}


.intro-containr h2 {
    font-size: 2rem;
    
}
